name: Destroy Infra
description: "Destroy complete infrastructure to rerun again to test"
on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: 'Destroy Everything ?'
        required: true
        type: choice
        options:
          - 'Yes'
          - 'No'
        default: 'No'

env:
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  destroy:
    name: Destroy Infrastructure
    if: github.event.inputs.confirm_destroy == 'Yes'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Destroy
        working-directory: terraform
        run: terraform destroy -auto-approve
